.slider{

    position: relative;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
    height: 30px;
}

.value_thickness{
    position: absolute ;
    left: -20px;
    top: -33px;
    padding: 5px 10px;
    background: rgb(219, 218, 218);
    color: #050505;
    border-radius: 10px 10px 0 10px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 0px rgba(135,135,135,1),
    1px 2px 1px 0px rgba(125,125,125,1),
    1px 3px 1px 0px rgba(115,115,115,1),
    1px 4px 1px 0px rgba(105,105,105,1),
    1px 5px 1px 0px rgba(95,95,95,1);
}
#slider_thickness {
    position: relative;
    left: 0px;
    width: 300px;
    height: 20px;
    background: radial-gradient(circle at 10px 10px, #a0a0a0, #000);
    box-shadow: 10px 10px 20px rgba(0,0,0,1);
    -webkit-appearance: none;
    outline: none;
    border-radius: 4px;

}
#slider_thickness::-webkit-slider-thumb{
    -webkit-appearance: none;
    display: block;
    margin: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: radial-gradient(circle at 10px 10px, #a0a0a0, #000);

}