<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online streaming your WebCam</title>
    <link rel="stylesheet" href="style.css">
</head>
<body onload="init();">

<div class="result">
    <div class="vid">
        <p style="text-align:center;font-size:22px;color:#ffffff;text-shadow: 1px 1px 2px black;"> Веб-камера</p>
        <video onclick="snapshot(this);" width=600 height=450 id="video" controls autoplay></video>
    </div>
    <div class="scrn">
        <p style="text-align:center;font-size:22px;color:#ffffff;text-shadow: 1px 1px 2px black;">Снимок: <p>
        <canvas  id="myCanvas" width="600" height="450"></canvas>
    </div>
</div>

<div class="bttn">
    <button class="b1" onclick="startWebcam();">Запуск Камеры</button>
    <button class="b2" onclick="stopWebcam();">Стоп Камера</button>
    <button class="b3" onclick="snapshot();">Сделать Снимок</button>
    <button class="b4" id="saveDrawing">Сохранить Снимок</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="video.js"></script>
</body>
</html>
